$search-bar-font: 3rem;
$white: #FFFFFF;
$grey: #AEAEAE;

$mobile-screen: 576px;

.freezing-background {
  background-color: #264653;
}
.cold-background {
  background-color: #2A9D8F;
}
.neutral-background {
  background-color: #E9C46A;
}
.warm-background {
  background-color: #F4A261;
}
.hot-background {
  background-color: #E76F51;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  transition: 1s;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 10vw;
}

#search-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  input, button {
    background: transparent;
    border-style: solid;
    border-color: $white;
    border-radius: 0.3rem;
  }

  input:focus, input:hover, button:focus, button:hover {
    outline-style: none;
    box-shadow: 0 0 1rem 0.05rem $white;
  }

  input {
    padding: 1rem;
    font-size: $search-bar-font;
    transition: 0.1s;
    margin-right: 1rem;
    color: $white;
    width: 100%;
  }

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    cursor: pointer;

    svg {
      height: $search-bar-font;
      width: $search-bar-font;

      g {
        fill: $white;
      }
    }
  }

  .button-clicked {

    background: $white; 
    svg g {
      fill: black;
    }
  }
}

@media (max-width: $mobile-screen) {

  #search-bar {

    input {
      font-size: 1rem;
      padding: 0.5rem;
    }

    button {
      
      padding: 1% 3%;

      svg {
        height: 2rem;
        width: 2rem;
      }
    }
  }
}