$search-bar-font: 3rem;
$white: #FFFFFF;

$mobile-screen: 576px;

.freezing-background {
  background-color: #264653;
}
.cold-background {
  background-color: #2A9D8F;
}
.neutral-background {
  background-color: #E9C46A;
}
.warm-background {
  background-color: #F4A261;
}
.hot-background {
  background-color: #E76F51;
}

* {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  overflow-x: hidden;
  margin: 0;
  transition: background-color 1s;
  color: $white;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 10vw;

  input, h1 {
    font-size: $search-bar-font;
    margin-bottom: 0rem;
  }
  h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
}

#search-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  input, button {
    background: transparent;
    border-style: solid;
    border-color: $white;
    border-radius: 0.3rem;
  }

  input:focus, input:hover, button:focus, button:hover {
    outline-style: none;
    box-shadow: 0 0 1rem 0.05rem $white;
  }

  input {
    padding: 1rem;
    transition: 0.1s;
    margin-right: 1rem;
    color: $white;
    width: 100%;
  }

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    cursor: pointer;

    svg {
      height: $search-bar-font;
      width: $search-bar-font;

      g {
        fill: $white;
      }
    }
  }

  .button-clicked {

    background: $white; 
    svg g {
      fill: black;
    }
  }
}

#data-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #weather-data {
    >div, >img {
      display: inline-block;
    }

    >img {
      margin-left: 1.5rem;
    }

    a[href] {
      color: blue;
    }
  }
}

@media (max-width: $mobile-screen) {

  main {
    padding: 10vh 5vw;
    display: flex;

    h1 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.2rem;
    }
  }


  #search-bar {

    input {
      font-size: 1.5rem;
      padding: 0.5rem;
    }

    button {
      
      padding: 1% 3%;

      svg {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  #weather-data {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
      margin-bottom: 0;
    }
    >img {
      margin: 0 !important;
      width: 100%;
    }
  }
}