$search-bar-font: 3rem;
$white: #FFFFFF;
$grey: #AEAEAE;

.freezing-background {
  background-color: #264653;
}
.cold-background {
  background-color: #2A9D8F;
}
.neutral-background {
  background-color: #E9C46A;
}
.warm-background {
  background-color: #F4A261;
}
.hot-background {
  background-color: #E76F51;
}

body {
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-bar {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  input, button {
    background: transparent;
    border-style: solid;
    border-color: $white;
    border-radius: 0.3rem;
  }

  input:focus, input:hover, button:focus, button:hover {
    outline-style: none;
    box-shadow: 0 0 1rem 0.05rem $white;
  }

  input {
    padding: 1rem 1rem;
    font-size: $search-bar-font;
    transition: 0.1s;
    margin-right: 1rem;
    color: $white;
  }

  button {
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;

    svg {
      height: $search-bar-font;
      width: $search-bar-font;

      g {
        fill: $white;
      }
    }
  }

  .button-clicked {

    background: $white; 
    svg g {
      fill: black;
    }
  }
}