body {
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-bar {
  margin-top: 10vh;

  input {
    padding: 1rem 1rem;
    font-size: 3rem;
    background: transparent;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 0.3rem;
    transition: 0.1s;
  }

  input:focus {
    outline-style: none;
    box-shadow: 0 0 1rem 0.05rem #ffffff;
  }
}

