#search-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  input,
  button {
    background: transparent;
    border-style: solid;
    border-color: $white;
    border-radius: 0.3rem;
  }

  input:focus,
  input:hover,
  button:focus,
  button:hover {
    outline-style: none;
    box-shadow: 0 0 1rem 0.05rem $white;
  }

  input {
    padding: 1rem;
    transition: 0.1s;
    margin-right: 1rem;
    color: $white;
    width: 100%;
  }

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    cursor: pointer;

    svg {
      height: $search-bar-font;
      width: $search-bar-font;

      g {
        fill: $white;
      }
    }
  }

  .button-clicked {
    background: $white;
    svg g {
      fill: black;
    }
  }
}
