#data-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-out;

  #weather-data {
    > div,
    > img {
      display: inline-block;
    }

    > img {
      margin-left: 1.5rem;
    }

    a[href] {
      color: blue;
    }
  }
}

@media (max-width: $mobile-screen) {
  #weather-data {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
      margin-bottom: 0;
    }
    > img {
      margin: 0 !important;
      width: 100%;
    }
  }
}
