.freezing-background {
  background-color: #264653;
}
.cold-background {
  background-color: #2a9d8f;
}
.neutral-background {
  background-color: #e9c46a;
}
.warm-background {
  background-color: #f4a261;
}
.hot-background {
  background-color: #e76f51;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

* {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  overflow-x: hidden;
  margin: 0;
  transition: background-color 1s;
  color: $white;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 10vw;

  input,
  h1 {
    font-size: $search-bar-font;
    margin-bottom: 0rem;
  }
  h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: $mobile-screen) {
  main {
    padding: 10vh 5vw;
    display: flex;

    h1 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.2rem;
    }
  }
}
